* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c; /*Passed OK WCAG 2.1 color contrast ratio. Source:  https://contrast-ratio.com/#%23ffffff-on-%232a607c */
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
    
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: circle;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.header nav ul li a:hover{  /* I Used hover to change the color of the link when the cursor hover it. Color #33ccff is within the approval valuation limit of WCAG 2.1 background contrast vs font */
     color: #33ccff; 
    
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;   /*WCAG 2.1 color background contrast ratio .benefits p vs font size didn't pass the font size 16px evaluation. Minimun requires 18px. I added .benefits p and changed the font size to 18px. Source:  https://contrast-ratio.com/#%23ffffff-on-%232a607c */
 
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd; /*WCAG 2.1 color contrast ratio of background #2589bd vs font size 16px didn't pass the font size evaluation. Minimun requires 18px, I added the .benefits p font size to 18px to keep it just in the limit of compliance. Source:  https://contrast-ratio.com/#%23ffffff-on-%232a607c */
  
}

.benefits p { /*I added the .benefits p font size 18px to pass the minimun valuatin required for WCAG 2.1 contrast ratio. Source:  https://contrast-ratio.com/#%23ffffff-on-%232a607c */
   
    font-size: 18px;
}

.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}


.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
    
}

.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb; /*Passed OK WCAG 2.1 color contrast ratio. Source:  https://contrast-ratio.com/#%23ffffff-on-%232a607c */
    color: #ffffff;
}


.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
